@font-face {
  font-family: 'Roboto';
  font-weight: 400;
  src: url('/static/font/Roboto-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto-Bold';
  font-weight: 700;
  src: url('/static/fonts/Roboto-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto-Light';
  font-weight: 100;
  src: url('/static/fonts/Roboto-Light.ttf') format('truetype');
}
