displayFlex()
  display: -webkit-box !important     /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box !important       /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox !important     /* TWEENER - IE 10 */
  display: -webkit-flex !important    /* NEW - Chrome */
  display: flex !important 

flex(n)
  -webkit-box-flex: n      /* OLD - iOS 6-, Safari 3.1-6 */
  -moz-box-flex: n         /* OLD - Firefox 19- */
  -webkit-flex: n          /* Chrome */
  -ms-flex: n              /* IE 10 */
  flex: n  

placeholder()
    &::-webkit-input-placeholder
        {block}
    &:-moz-placeholder
        {block}
    &::-moz-placeholder
        {block}
    &:-ms-input-placeholder
        {block}
