$grey = #e7e7e7
$lightGrey = #f7f7f8
$borderGrey = #e6e8e8
$bodyGrey = #8e8e93
$inputBorderGrey = #c8c7cc

$senet = #75ace2
$machineq = #91c848

$lightBlue = #5F8295
$formBlue = #007AFF
$submittingBlue = #66afff
$darkBlue = #253c4f
$darkerBlue = #1c222a
