.Events
    background-color: white
    border-right: 15px solid $lightGrey
    float: left
    width: 75%

    svg
        display: block
        height: 215px
        width: 100%

        .x-axis
            font-size: .5rem

        .senet
            stroke
