.Events
    background-color: white
    border-right: 15px solid $lightGrey
    float: left
    width: 75%
    
    > div:nth-child(2)
        height: 215px

    svg
        height: 100%
        width: 100%

        .y-axis
            .domain
                stroke: white

            line
                stroke: $lightGrey
                stroke-width: 2

        .x-axis
            font-size: .5rem

        .points, .lines
            .senet
                fill: $senet
                stroke: $senet
            .machineq
                fill: $machineq
                stroke: $machineq

        .areas
            .senet
                fill: $senet
                opacity: .1
            .machineq
                fill: $machineq
                opacity: .1
