.Heading
    background-color: #fff
    padding: 1.5rem
    
    .heading
        color: #333
        float: left
        font-family: Raleway
        font-weight: 300
        font-size: 1.75rem
        line-height: 1.75rem
        letter-spacing: 1px
        text-transform: uppercase

    .dates
        font-size: 0px
        float: right

        input
            border: 1px solid #c8c7cc
            color: #5b5b60
            font-family: Raleway
            font-size: .95rem
            height: 1.75rem
            padding-left: 12px
            width: 8rem

        span
            background-color: #007AFF
            color: #FFFFFF
            display: inline-block
            font-size: 1rem
            height: 1.75rem
            line-height: 1.75rem
            padding: 0px .75rem
            vertical-align: bottom
