.Heading
    background-color: #fff
    padding: 2rem
    
    .heading
        color: #333
        float: left
        font-weight: 300
        font-size: 2rem
        line-height: 2rem
        letter-spacing: 1px
        text-transform: uppercase

    .dates
        font-size: 0px
        float: right

        input
            border: 1px solid #c8c7cc
            height: 2rem
            padding-left: 12px

        span
            background-color: #007AFF
            color: #FFFFFF
            display: inline-block
            font-size: 1rem
            height: 2rem
            line-height: 2rem
            padding: 0px .5rem 0px .5rem
            vertical-align: bottom
