.Home
    displayFlex()
    height: 100%

    .main
        background-color: #f7f7f8
        displayFlex()
        flex(4)
        flex-direction: column
        height: 100%
        overflow: hidden
        position: relative

        .scroll-wrap
            margin-bottom: 3rem
            overflow-y: scroll
