.Overview
    background-color: #f7f7f8
    
    .user-data-row
        background-color: #75ade3
        margin: 1rem
        padding: .5rem
        text-align: center

        > div
            display: inline-block
            margin: 0 1rem

        .label
            color: #253c4f

        .value
            color: #e9e9e9

    .graph-wrap
        margin 0 1rem 2rem 1rem
        
        .heading
            background-color: $grey
            color: black
            font-size: .85rem
            padding: .5rem

    .widgets
        displayFlex()        
