.Revenue
    svg
        height: 100%
        width: 100%

        .lines
            fill: transparent
            stroke-linecap: round

        .text
            fill: black
            stroke: black
            text-anchor: middle
            dominant-baseline: text-after-edge

            .category
                cursor: pointer 
            
            .root
                dominant-baseline: central
            
            .revenue
                text-anchor: left
