.Revenue
    svg
        display: block
        width: 100%

        .lines
            fill: transparent
            stroke-linecap: round

        .text
            fill: black
            stroke: black
            text-anchor: middle
            dominant-baseline: text-after-edge

            .category
                cursor: pointer 
            
            .root, .total, .root-revenue
                dominant-baseline: central
            
            .revenue, .root-revenue
                text-anchor: end
