.SensorsByNetwork
    background-color: white
    border-left: 15px solid $lightGrey
    float: left
    width: 25%

    

    > div:nth-child(2)
        text-align: center

        svg
            margin: 20px 0px
            width: 75%

            .senet
                fill: #75ace2
            
            .machineq
                fill: #91c848
