.SensorsByNetwork
    background-color: white
    border-left: 15px solid $lightGrey
    float: left
    width: 25%

    > div:nth-child(2)
        height: 215px
        text-align: center

        svg
            height: 75%
            margin-top: 12.5%
            width: 75%

            text
                fill: black
                font-size: .75rem

            .senet
                fill: $senet
                stroke: white
            
            .machineq
                fill: $machineq
                stroke: white

