.Widget
    background-color: white
    border-radius: 5px
    cursor: pointer
    padding: 1rem
    margin: 1rem
    flex(1)

    &:hover
        box-shadow: 0 0 4px 3px #5F87D4

    &.selected
        box-shadow: 0 0 4px 3px #91c848

    &.activeNodes
        svg
            transform: rotate(180deg)

    svg
        width: 2rem
        height: 2rem
        background-color: #666!important
        border-radius: 5px
        padding: 5px

    .value
        color: #47669f
        font-family: Raleway
        font-weight: bold
        text-align: center

    .label
        color: #aeacb4
        font-size: .75rem
        font-weight: bold
