.Widget
    background-color: white
    border-radius: 5px
    display: inline-block
    padding: 1rem
    margin: 1rem
    width: 8rem

    svg
        width: 2rem
        height: 2rem
        background-color: #666!important
        border-radius: 5px
        padding: 5px

    .value
        color: #47669f
        text-align: center

    .label
        color: #aeacb4
        font-size: .75rem
